
rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    // Helper functions
    function isAuthenticated() {
      return request.auth != null;
    }
    
    function isOwner(userId) {
      return isAuthenticated() && request.auth.uid == userId;
    }
    
    match /{allPaths=**} {
      allow read, write: if false;
    }

    // User Profile Photos
    match /users/{userId}/{allPaths=**} {
      allow write: if isOwner(userId);
      allow read: if true;
    }
    
    // Listing Images
    match /listings/{userId}/{allPaths=**} {
       allow write: if isOwner(userId);
       allow read: if true;
    }

    // Verification Documents
    match /verifications/{userId}/{allPaths=**} {
      allow write: if isOwner(userId);
      allow read: if isOwner(userId);
    }
  }
}
